# Example .env file for UniNav Backend

# DATABASE CONFIGURATION
DATABASE_URL=postgresql://your_user:your_password@your_host:your_port/your_db
DATABASE_URL_DEV=postgresql://your_user:your_password@your_host:your_port/your_db

# Server Configuration
NODE_ENV=development
PORT=3200

# JWT Secret
JWT_SECRET="your_jwt_secret_value"

# Password hashing
BCRYPT_SALT_ROUNDS=11
BCRYPT_PEPPER='your_pepper_here'

# API KEYS
ROOT_API_KEY="your_root_api_key"

SERVER_URL="https://your-server-url.com"

# Backblaze Storage bucket 
B2_ACCESS_KEY="your_b2_access_key"
B2_SECRET_KEY="your_b2_secret_key"
B2_ENDPOINT="your_b2_endpoint"
B2_REGION="your_b2_region"

# Gmail API
GMAIL_CLIENT_ID="your_gmail_client_id"
GMAIL_CLIENT_SECRET="your_gmail_client_secret"
COMPANY_EMAIL='your_company_email@example.com'
COMPANY_NAME="YourCompanyName"
# GOOGLE EMAIL SERVICE
GMAIL_REFRESH_TOKEN="your_gmail_refresh_token"

# Brevo Email Service
BREVO_API_KEY="your_brevo_api_key"
BREVO_SENDER_EMAIL="your_brevo_sender_email@example.com"

# Google OAuth
GOOGLE_CLIENT_ID="your_google_client_id"
GOOGLE_CLIENT_SECRET="your_google_client_secret"
GOOGLE_REDIRECT_URI="https://your-server-url.com/auth/google/callback"

# Cryptographic settings
CRYPTO_KEY='your_crypto_key'
CRYPTO_IV='your_crypto_iv'
CRYPTO_ENCRYPTION_ALGORITHM='aes-256-cbc'

# CONFIG
FRONTEND_URL="https://your-frontend-url.com"

GOOGLE_REDIRECT_URI="http://localhost:3200/auth/google/callback"
FRONTEND_URL="http://localhost:3000"
