<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Advertisement Approval</title>
  </head>
  <body>
    <h2>Advertisement Approved!</h2>
    <p>Dear <%= creatorName %>,</p>
    <p>
      Good news! Your advertisement "<%= advertLabel %>" has been reviewed and
      approved.
    </p>
    <p>
      Your advertisement is now live and will be displayed to users according to
      its type and settings.
    </p>
    <p>
      You can monitor your advertisement's performance through your dashboard.
    </p>
    <p>Best regards,<br />UniNav Team</p>
  </body>
</html>
